@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Sora", sans-serif;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  max-width: 100%;
}

.row {
  margin: 0 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
}

.row .col-1 {
  grid-column: span 1;
}

.row .col-2 {
  grid-column: span 2;
}

.row .col-3 {
  grid-column: span 3;
}

.row .col-4 {
  grid-column: span 4;
}

.row .col-5 {
  grid-column: span 5;
}

.row .col-6 {
  grid-column: span 6;
}

.row .col-7 {
  grid-column: span 7;
}

.row .col-8 {
  grid-column: span 8;
}

.row .col-9 {
  grid-column: span 9;
}

.row .col-10 {
  grid-column: span 10;
}

.row .col-11 {
  grid-column: span 11;
}

.row .col-12 {
  grid-column: span 12;
}

.row.row-full {
  margin: 0;
}

.row.row-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row:not(:last-child) {
  margin-bottom: 100px;
}

.header {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px;
  grid-gap: 30px;
}

.header-title {
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 70px;
  background: #b226d9;
  background: linear-gradient(45deg, #b226d9 0%, #435de9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-text {
  font-size: 1.2em;
  width: 50vw;
  font-weight: 500;
  color: #6d6d6d;
}

.header-image {
  position: absolute;
  width: 50vw;
  height: 90vh;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  opacity: 0.2;
  border-radius: 0 0 0 100px;
}

.header-buttons {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 15px;
}

.header-button {
  height: 65px;
  background: #b226d9;
  background: linear-gradient(45deg, #b226d9 0%, #43e9c3 100%);
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0 10px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 500px;
  grid-gap: 20px;
  -webkit-box-shadow: 10px 10px 50px 0 rgba(196, 68, 255, 0.5);
  box-shadow: 10px 10px 50px 0 rgba(196, 68, 255, 0.5);
}

.header-button-icon {
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: #b226d9;
  font-size: 1.2em;
  border-radius: 50%;
  outline: 5px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header-button:hover .header-button-icon {
  outline: 10px solid rgba(255, 255, 255, 0.3);
}

.row-image {
  width: 90%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 100px 20px 20px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.row-image-alt {
  border-radius: 20px 20px 20px 100px;
}

.row-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 20px;
}

.row-title {
  font-weight: 500;
  background: #b226d9;
  background: linear-gradient(45deg, #b226d9 0%, #435de9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.row-text {
  font-size: 1em;
  font-weight: 500;
  color: #6d6d6d;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 15px;
  padding: 30px;
  border-radius: 30px;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border: 3px solid #b226d9;
}

.card:hover .card-icon {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.card-button {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #b226d9;
  background: linear-gradient(45deg, #b226d9 0%, #43e9c3 100%);
  color: white;
  text-decoration: none;
  border-radius: 500px;
  font-weight: 500;
  margin-top: 20px;
}

.card-title {
  background: #b226d9;
  background: linear-gradient(45deg, #b226d9 0%, #435de9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.7em;
  padding-top: 30px;
  font-weight: 600;
}

.card-content {
  color: #505050;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.card-icon {
  position: absolute;
  left: -25px;
  top: -25px;
  font-size: 2em;
  text-align: center;
  width: 70px;
  height: 70px;
  background: #b226d9;
  background: linear-gradient(45deg, #b226d9 0%, #435de9 100%);
  border-radius: 20%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 10px 10px 50px 0 rgba(196, 68, 255, 0.5);
  box-shadow: 10px 10px 50px 0 rgba(196, 68, 255, 0.5);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #b226d9;
  background: linear-gradient(45deg, #b226d9 0%, #435de9 100%);
  color: white;
  padding: 70px 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 30px;
  margin: 50px;
  border-radius: 50px;
}

.footer-title {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 600;
}

.footer-subtitle {
  text-transform: uppercase;
  margin-bottom: -15px;
  letter-spacing: 5px;
  font-size: 0.8em;
  color: white;
  opacity: 0.8;
}

.footer-names {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-name {
  text-align: center;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  background-color: white;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
}

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: auto;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  visibility: hidden;
}

.modal-container-open {
  background-color: rgba(0, 0, 0, 0.8);
  visibility: visible;
}

.modal {
  background-color: white;
  width: 50%;
  padding: 40px;
  border-radius: 15px;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.modal-open {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.modal-text {
  color: #929292;
  font-weight: 400;
}

.modal-text a {
  color: #030303;
  text-decoration: none;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -10px;
  margin-bottom: 10px;
}

.modal-title {
  color: #030303;
  font-size: 1.3em;
}

.modal-close {
  font-size: 2em;
  font-weight: 200;
  color: #777777;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.modal-close:hover {
  color: #040404;
}

@media only screen and (max-width: 750px) {
  .row {
    margin: 0 10px;
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .row [class*=col-] {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .hidden-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: 750px) {
  .hidden-desktop {
    display: none !important;
  }
}
